/* 

body {
    background-image: url("images/background.png");
} */

.gameFront {
    background-color: white;
    height: 75%;
    width: 75%;
    position: absolute;
    left: 120px;
    opacity: 0.97;
    margin: 50px;
    /* padding: 40px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#MainTitle {
    font-family: 'Playfair Display',
        serif;
    font-weight: 900;
    font-size: 35px;
    text-align: center;
    margin: 5px;
    position: relative;
    padding: 5px;
    top: 28px;
    color: white;
}

#MainSubTitle {
    /* font-family: 'Assistant',
        sans-serif; */
    font-family: 'Playfair Display',
        serif;
    font-weight: 100;
    text-align: center;
    font-size: 25px;
    position: relative;
    top: 115px;
}

#buttonId {
    text-align: center;
}

.btn-primary {
    font-family: 'Assistant',
        sans-serif;
    font-size: 25px;
    font-weight: 900;
    position: relative;
    top: 420px;
    padding: 19px 80px;
    border-radius: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: black;
    border-color: black;

}

/* .backLayer {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: white;
    opacity: 0.36;
} */

.backLayer{
    height: 110%;
    width: 110%;
    position: absolute;
    background: inherit;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
    filter: blur(10px);
  }

  #cardBanner{
      background-color: black;
      height: 125px;
      width: 100%;
      position: absolute;
      margin: 0px;
      padding: 0px;
      top: 0px;
      opacity: 0.9;
      

  }

  .frontPics {
      height: 230px;
      width: 300px;
      position: relative;
     
  }

  .imgSpace {
     position: absolute; 
     top: 260px;
     left: 35px;
     width: 100%;
  }
  
  .questions {
      height: 60%;
      width: 60%;
      font-size: 27px;
      font-family: 'Playfair Display',
        serif;
  }

  form{
    height: 60%;
    width: 60%;
  }
  /* .backLayer:after{
   content: '';
   width: 300px;
   height: 300px;
   background: inherit; 
   position: absolute;
   left: -25px;
   left position
   right: 0;
   top: -25px;  
   top position 
   bottom: 0;
   box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
   filter: blur(10px);
  } */